@font-face {
  font-family: 'freehand';
  font-display: swap;
  src: url('../font/freehand.ttf') format(truetype);
}

@font-face {
  font-family: 'CascadiaCode';
  font-display: swap;
  src: url('../font/CascadiaCode.ttf') format(truetype);
}

body {
  font-family: 'freehand', 'CascadiaCode';
}